<h2>Ask a question</h2>
<%= form_for @question, :html => {:class => 'pure-form pure-form-stacked'} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit "Submit", class: "pure-button pure-button-primary" %>
<% end %>